<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ch.launcher">


    <application
        android:clearTaskOnLaunch="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:stateNotNeeded="true"
        android:theme="@style/launcherTheme">
        <activity
            android:name="org.ch.launcher.HomeScreen"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@style/launcherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- The following two intent-filters are the key to set homescreen -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
    </application>
</manifest>
    <!--android:theme="@android:style/Theme.Wallpaper.NoTitleBar"-->